<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.bwq">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/bwq"
        android:label="BWQ - HMS SCALEBAZZAR"
        android:roundIcon="@drawable/bwq"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Reports"></activity>
        <activity android:name=".Settings" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>